# Example Database URL for PostgreSQL inside .env
DATABASE_URL="postgres://postgres:postgres@db:5432/postgres"
# Example Database URL for testing for PostgreSQL inside .env.test
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres_test"