Flask
Flask_Cors
pdf2image
chromadb
pypdf
tiktoken
ibm-watsonx-ai
langchain-ibm
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
pydantic
pandas
atlassian-python-api
huggingface-hub
torch
sentence-transformers
InstructorEmbedding
p4python
lxml
bs4
tokenizers
transformers
sentence-transformers
requests